.container {
  max-width: var(--width-desktop);
  margin: 0 auto;
  color: white;
  background-color: #2e292b;

  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  svg {
    height: 23px;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid white;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.connections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.legal {
  display: flex;
  gap: 16px;
}

.partners {
  display: flex;
  flex-direction: row;
  gap: 24px;

  a {
    color: inherit;
    text-decoration: none;
  }

  svg {
    height: 36px;
  }
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  line-height: 1;

  span {
    text-transform: uppercase;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  svg {
    height: 24px;
  }
}

.navContainer {
  display: flex;
  gap: 30px;
  align-items: center;
}

@media screen and (max-width: 860px) {
  .container {
    padding: 40px 16px;
  }

  .navigation {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .details {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }

  .legal {
    margin-top: 12px;
    flex-direction: column;
    gap: 0px;
  }

  .connections {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .partners {
    order: 1;
  }
}

// .atas {
//   color: #00abac;
// }
// .ltc {
//   color: #b09966;
// }
