@use "sass:math";

@use "bulma/sass" with (
  $family-primary: "Inter, sans-serif",
  $family-monospace: "PT Mono, monospaced",
  $fullhd-enabled: false,
  $widescreen-enabled: true
);

@import url("https://fonts.googleapis.com/css?family=Inter:400,700");
@import url("https://fonts.googleapis.com/css?family=PT+Mono:400,700");


dl {
  &.indented {
    margin: 0.5rem 1rem;
  }
}
dt {
  font-size: 0.75rem;
  &:not(:first-child) {
    margin-top: 8px;
  }
}
dd {
  margin-left: 1rem;
}

ul.list {
  list-style-type: disc;
  li {
    margin-left: 1rem;
  }
}

ol[type="a"] {
  list-style-type: lower-alpha;
}

address {
  font-style: normal;
}

.content ul:first-child {
  margin-top: 0;
}

.navbar-menu {
  text-transform: uppercase;
}

.level-item {
  justify-content: flex-start;
}

ul.inline {
  display: flex;
  margin-bottom: 0;
  gap: 0.75rem;

  @media screen and (max-width: 764px) {
    &.reset-mobile {
      display: block;

      li {
        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }
  }
}

.is-only-print {
  display: none;
}

.column.is-side {
  display: flex;
  align-items: flex-end;
}

hr.brand {
  width: 80px;
  margin: 20px 0;
}

.button.is-uppercase {
  text-transform: uppercase;
}

header {
  top: 0;
  z-index: 100;
  // background-color: white;

  svg.logo {
    height: 60px;
    margin-bottom: -10px;
    will-change: height;
    transition: ease-in-out height 200ms;
  }

  .heading {
    font-weight: 600;
    text-transform: uppercase;
  }
}

.card.is-equal-height {
  height: 100%;
}

.button.is-text {
  text-decoration: none;

  span:not(.icon) {
    text-decoration: underline;
  }
}

.section.is-emphasised {
  padding: 1.5rem;
  margin: 1.5rem 0;
}

code {
  white-space: nowrap;
  padding: 0;

  &.strong {
    font-weight: bold;
  }
}

hr.is-emphasised {
  height: 5px;
}

.image.is-cover {
  height: 100%;

  img {
    object-fit: cover;
    height: 100%;
  }
}

code.is-flight-number {
  background-color: transparent;

  span {
    display: block;
    font-size: var(--bulma-size-5);
  }
}

.map-icon {
  .icon {
    border-radius: 4px;
  }

  p {
    padding: 4px 8px;
    background-color: #333;
    opacity: 0.5;
    color: white;
    font-family: var(--bulma-body-family);
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
}

img[onclick] {
  cursor: pointer;
}

.quote-map__container {
  max-width: var(--width-desktop);
  margin: 0 auto;
  height: 80vh;
}
@media print {
  .quote-hero__container {
    flex-direction: column;

    .column.is-3 {
      width: auto;
    }
  }

  .quote-map__container {
    height: 50vh;
  }
}

.quote-hero__container {
  position: relative;
  background-color: #212121;
  height: 600px;

  .quote-hero__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    img {
      object-fit: cover;
      object-position: center center;
      height: 100%;
    }
  }

  .quote-hero__logo {
    position: absolute;
    top: 24px;
    left: 24px;
    height: 50px;

    img,
    svg {
      object-fit: contain;
      object-position: top left;
      height: 100%;
    }

    svg {
      height: 50%;
    }

    a {
      color: white;
      opacity: 0.8;
    }

    &.--agency {
      height: 100px;
    }
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 24px;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      color: white;
      font-weight: 700;
      font-size: 48px;
      max-width: 800px;
      text-shadow: 4px 4px 4px #222;
      pointer-events: none;
    }
  }
}

h1,
h2 {
  // font-family: Albra, sans-serif;
  text-transform: uppercase;
}

@media screen and (min-width: 600px) {
  .quote-summary__container {
    // margin-top: -64px;
    padding: 24px;
    width: 800px;
    background-color: white;
  }
}

.content.is-small {
  font-size: 0.875rem;
}

@media screen and (max-width: 764px) {
  .columns.is-gapless-mobile {
    .column {
      padding: 0 0.75rem;
    }
  }

  .menu-list a {
    padding: 0.25rem 0;
  }

  #accommodation .card {
    box-shadow: none;
    .image,
    .card-content {
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      @media screen and (max-width: 764px) {
        img {
          border-radius: 0;
        }
      }
    }
    .buttons {
      margin-right: -1rem;
    }
  }

  .module__hero,
  .module__highlight,
  .module__image,
  .module__fiftyfifty {
    .columns {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .column {
        order: 1;
      }
      .column.is-5,
      .column.is-4 {
        order: 0;
      }
    }

    .image {
      margin-left: -2rem;
      margin-right: -2rem;
    }
  }

  .module__fiftyfifty .column:last-of-type {
    order: 0;
  }

  .module__hero .column.is-5 {
    margin-bottom: 2rem;
  }

  .quote-hero__container .quote-hero__logo.--agency {
    height: 50px;
  }
}

footer {
  // text-transform: uppercase;
  font-size: var(--bulma-size-7);
}

.is-amount {
  font-feature-settings:
    "zero" 1,
    "tnum" 1;
}

code.is-amount {
  background: none;
  color: currentColor;
}

a.is-logo {
  text-decoration: none;
  color: inherit;
}

.ele-collection__message {
  max-width: 300px;
  justify-self: center;
  margin-top: 1rem;
}

.is-muted {
  opacity: 0.5;
}

.is-current {
  background-color: #e0ffd6 !important;
}
