.container {
  max-width: var(--width-desktop);
  margin: 0 auto;
  background-color: #2e2a2b;
  color: white;
  position: relative;

  a {
    color: inherit;
  }
}

.content {
  padding: 190px 64px 0px 64px;
  display: flex;
  gap: 24px;
  align-items: flex-start;
}
.title {
  flex: 4;
  text-transform: uppercase;
  font-family: Albra, sans-serif;
  font-size: 56px;
  line-height: 0.8;
  margin: 0;
}
.body {
  flex: 3;
  p {
    width: 416px;

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }
}

.brandMark {
  height: 16px;
  right: 50px;
}

@media screen and (max-width: 780px) {
  .content {
    padding: 24px 16px;
    padding-top: 80px;
    flex-direction: column;
    gap: 16px;
  }
  .title {
    font-size: 36px;
  }
  .brandMark {
    top: 80px;
    right: 16px;
    position: absolute;
  }

  .body {
    p {
      width: unset;
    }
  }
}
