.container {
  height: 640px;

  max-width: var(--width-desktop);
  margin: 0 auto;
  position: relative;

  display: flex;
  align-items: center;
}

.mapContainer {
  background-color: #d7c4a3;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.map {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title {
  flex: 1;
  margin-left: 58px;

  display: flex;
  align-items: flex-start;
  gap: 8px;

  span {
    font-family: Albra, sans-serif;
    font-size: 48px;
    line-height: 0.8;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.brandMark {
  height: 34px;
  margin-top: 3px;
}

.content {
  flex: 1;
  margin: 0 40px;

  p {
    width: 558px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 860px) {
  .container {
    height: 420px;
    flex-direction: column;
    align-items: flex-start;
  }
  .title {
    flex: unset;
    margin-left: 16px;
    margin-top: 82px;
    margin-bottom: 8px;

    span {
      font-size: 28px;
    }
  }

  .brandMark {
    height: 20px;
    margin-top: 1px;
  }

  .content {
    flex: unset;
    margin: 0 16px;
    p {
      width: unset;
      font-size: 14px;
    }
  }
}

@media (prefers-contrast: more) {
  .map {
    opacity: 0.4;
  }
}
