.container {
  max-width: var(--width-desktop);
  margin: 0 auto;
  position: relative;
  height: 590px;

  img {
    object-fit: cover;
  }
}

@media screen and (max-width: 860px) {
  .container {
    height: 240px;
  }
}
